
.button {
    button {
        background: navy;
        color: white;
        text-align: center;
        border: none;   
        display: inline-block;
        width: 100%;
        padding: 10px 10px;
        margin: 10px 0;
    }
}